{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}"> 
        <div class="media-body">
          <h2 class="account-heading">{{ username }}</h2>
          <p class="text-secondary">{{ email }}</p>
            {% if user %}
              {% if admin %}
                <a class="nav-item nav-link" href="/admin">Turn off admin view</a>
              {% else %}
                <a class="nav-item nav-link" href="/admin">Turn on admin view</a>
              {% endif %}
            {% endif %}
        </div>
      </div>
    </div>
{% endblock content %}
