{% extends "layout.html" %}
{% block content %}
    {% for item in news_items.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ item.by }}</a>
              <small class="text-muted">{{ item.time.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ item.title }}</a></h2>
              {% if user %}
                <a class="btn btn-info mb-4" href="{{ url_for('vote', page=news_items.page, vote=1, news_item_id=item.id) }}">Like</a> 
                <a class="btn btn-info mb-4" href="{{ url_for('vote', page=news_items.page, vote=0, news_item_id=item.id) }}">Dislike</a> 
                {% if admin %}
                  <a class="btn btn-danger" href="{{ url_for('vote', page=news_items.page, vote=2, news_item_id=item.id) }}">Delete article</a>
                {% endif %}
              {% endif %}
              <a class="mr-2">Likes: {{ item.like_count() }}
              <a class="mr-2">Dislikes: {{ item.dislike_count() }}
          </div>
        </article>
    {% endfor %}
    {% for page_num in news_items.iter_pages() %}
        {% if page_num %}
            {% if page_num == news_items.page %}
                <a class="btn btn-info mb-4" href="{{ url_for('news', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('news', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}

